<form method="post">
{% csrf_token %} 
 <div class="col-lg-12">
	
	<div class="form-group mt-2"> 
		<div class="row d-flex flex-row align-items-baseline flex-nowrap">
		<label class="control-label col-lg-3 mr-2 text-right" >{{ form.managed_name.label }}<span class="text-danger">*</span></label>
		<input class="form-control col-lg-7" 
		placeholder="{{ form.managed_name.label }}을 입력하세요" 
		id="{{ form.managed_name.name }}" 
		name="{{ form.managed_name.name }}" 
		autocomplete="off" type="text" 
		value="{{ form.managed_name.value }}" 
		required />
		</div>
	</div>
	<div class="form-group mt-2"> 
		<div class="row d-flex flex-row align-items-baseline flex-nowrap">
		<label class="control-label col-lg-3 mr-2 text-right" >{{ form.managed_code_master.label }}<span class="text-danger">*</span></label>
		<input class="form-control col-lg-4" 
			placeholder="{{ form.managed_code_master.label }}" 
			 autocomplete="off" type="text" value="{{ form.managed_code_master.value }} " required disabled />
		</div>
	</div>
	<div class="form-group mt-2"> 
		<div class="row d-flex flex-row align-items-baseline flex-nowrap">
		<label class="control-label col-lg-3 mr-2 text-right" >{{ form.manager_name.label }}<span class="text-danger">*</span></label>
		<input class="form-control col-lg-7" 
		placeholder="{{ form.manager_name.label }}을 입력하세요" 
		id="{{ form.manager_name.name }}" 
		name="{{ form.manager_name.name }}" 
		value="{{ form.manager_name.value }}" 
		autocomplete="off" type="text" required />
		</div>
	</div>
	<div class="form-group mt-2"> 
		<div class="row d-flex flex-row align-items-baseline flex-nowrap">
		<label class="control-label col-lg-3 mr-2 text-right" >{{ form.manager_tel.label }}<span class="text-danger">*</span></label>
		<input class="form-control col-lg-7" 
		placeholder="{{ form.manager_tel.label }}을 입력하세요" 
		id="{{ form.manager_tel.name }}" 
		name="{{ form.manager_tel.name }}" 
		value="{{ form.manager_tel.value }}" 
		autocomplete="off" type="text" required />
		</div>
	</div>
	<div class="form-group mt-2"> 
		<div class="row d-flex flex-row align-items-baseline flex-nowrap">
		<label class="control-label col-lg-3 mr-2 text-right" >{{ form.manager_email.label }}</label>
		<input class="form-control col-lg-7" 
		placeholder="{{ form.manager_email.label }}을 입력하세요" 
		id="{{ form.manager_email.name }}" 
		name="{{ form.manager_email.name }}" 
		value="{{ form.manager_email.value }}" 
		autocomplete="off" 
		type="email"/>
		</div>
	</div>
	<input type="hidden" name="use_yn" value="{{form.use_yn.value}}">
	<input type="hidden" name="agency_desc" value="{{form.agency_desc.value }}">
	<input type="hidden" name="{{form.managed_code_master.name }}" value="{{form.managed_code_master.value }}">	
</div>
