{% extends 'layout/base.html' %}
{% block menu_script %}<script>select_menu('.m2',4)</script>{% endblock %}
{% block page-header-icon %}<i class="fas fa-search"></i>{% endblock %}

{% block page-header %}사용자 관리{% endblock %}

{% block page-subtitle %}{% endblock %}

{% block main-content %}

<div class="card">
	<div class=" card-header d-flex justify-content-between">
		<span>사용자 비밀번호 변경</span>
	</div>
	<div class="card-body">

		<h3>사용자 {{user.username}}의 비밀번호를 변경합니다. </h3>


		<form method="POST" class="mt-2">
		{% csrf_token %} 
		<div class="row form-group">
		<div class="col-lg-10 ">
			{{ form.as_p }}
			<a href="{% url 'register.user' %}" class="btn  btn-outline-primary">취소</a>
			<button class="btn btn-danger" type="submit" > 사용자 비밀번호 변경</button>
		</div>
		</div>
		</form>
	</div>
</div>

{% include 'techleader/user/script.html' %}
{% endblock %}




