{% extends 'layout/base.html' %}
{% block menu_script %}<script>select_menu('.m3',2)</script>{% endblock %}
{% block page-header-icon %}<i class="fas fa-search"></i>{% endblock %}

{% block page-header %}펌웨어 변경{% endblock %}

{% block page-subtitle %}{% endblock %}

{% block main-content %}

<div class="card">
	<div class=" card-header d-flex justify-content-between">
		<span>펌웨어 변경</span>
		<button class="btn btn-danger btn-sm" type="button" id="id_fw_update">펌웨어 변경</button>
	</div>
	<div class="card-body">
		<div class="datatable table-responsive" id="id_table_view">
		</div>
	</div>
</div>

{% include 'techleader/firmware/script.html' %}
{% endblock %}




