{% extends 'layout/base.html' %}
{% block menu_script %}<script>select_menu('.m1',1)</script>{% endblock %}                                

{% block page-header-icon %}<i class="fas fa-search"></i>{% endblock %}

{% block page-header %}다운로드 이력{% endblock %}

{% block page-subtitle %}조회 결과는 파일 다운로드가 완료된 내역을 단말기 순으로 정렬합니다. {% endblock %}
                

{% block main-content %}
<div class="card">
	<div class="card-header">조회</div>
	<div class="card-body">The Bootstrap breadcrumbs component is supported within the page header for the SB Admin Pro theme. The page header on this page is an example of a page with breadcrumbs added!</div>
</div>
{% endblock %}
