
.link-with-background {
    display: inline-block;
    background-image: url('/static/img/title_logo.png');
    background-size: auto;
    background-repeat: no-repeat;
    width:123px; 
    height:55px; 
    text-align: center; 
    line-height: 42px;
    color: white;
}


 .ul-techleader {
 	list-style:none;
 	padding-left:5px;
 }
 
 .ul-techleader li {
 	margin: 5px;
 }